<!DOCTYPE HTML>
<HTML>

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
		*
		{
			margin : 0;
			padding : 0;
			font-size : 14px;
			font-family: 'Nanum Gothic';
			overflow-x:hidden;

		}
		body
		{
			width : 100%;
			height : 100%;
			-ms-overflow-style: none;
		}
		
		::-webkit-scrollbar 
		{
			display: none;
		}

		a:active{ color:white;text-decoration:none; } 
		a:link{ color:white;text-decoration:none; } 
		a:visited{ color:white;text-decoration:none; } 
		a:hover{ color:white;text-decoration:none; } 
		

		#MenuBar
		{
			display: table;
			top 	:	0px;
			left	: 	0px;
			position	: 	fixed;
			z-index		: 	999;
			background-color:  #111111;
			color : white;
			width : 100%;
			height : 10%;
		}
		
		#MenuBar > div
		{
			
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			
		}
		
		#MenuBar > div > div
		{
			float : left;
			display: inline-block;
			
		}
		
		.MenuLogo
		{
			width : 50%;
			font-family:  sans-serif, "돋움", dotum, "굴림", gulim, arial, helvetica;
			
			
		}
		
		.btDiv
		{
			cursor:pointer;
			display:block;
		}
		.btDiv_hov
		{
			cursor:pointer;
			display:block;
		}
		
		
		
		.MenuLogo > div > h1
		{
			font-size : 2.5em;
			text-align: left;
			
		}
		
		.MenuList
		{
			width : 12%;
			font-family: sans-serif, "돋움", dotum, "굴림", gulim, arial, helvetica;
			font-weight: 1000;
			cursor:pointer;
		}
		
		#MainContent
		{
			top 	:	0%;
			left	: 	0px;
			position	: static;
			padding-top : 8vh;
			background-color:  white;
			width : 100vw;
			height : 100vh;
		}
		
		
		.ContentPlate
		{
			height : 100%;
		}
		 
		#ContentCompany
		{
			position: relative;
			margin:  0;
			padding:  0;
			/*width: 100%;*/
			height: 100%;
			background-image: url('./img/robot.jpg');
			background-size : 100%, 100%;
			background-repeat : no-repeat;
			text-align: center;
			

		}
		#ContentCompany > div
		{
			position: absolute;
			top : 50%;
			left : 50%;
			transform : translate(-50%,-50%);
			color : white;
			font-size : 4em;
			font-weight:  bold ;
		}

		#ContentBusiness
		{
			position: relative;
			margin:  0;
			padding:  0;
			width: 100%;
			height: 100%;
			background-image: url('./img/logistics.jpg');
			background-size : 100%, 100%;
			background-repeat : no-repeat;
			text-align: center;
			

		}
		#ContentBusiness > div
		{
			position: absolute;

			top : 50%;
			left : 50%;
			transform : translate(-50%,-50%);
			color : white;
			font-size : 4em;
			font-weight:  bold ;
		}

		#ContentBusiness > div > div
		{
			background-color:white;
			width:50vw;
			height:50vh;
			color : black;
			opacity: 0.7;
		}

		#ContentTeam
		{
			position: relative;
			margin:  0;
			padding:  0;
			width: 100%;
			height: 100%;
			background-image: url('./img/team.jpg');
			background-size : 100%, 100%;
			background-repeat : no-repeat;
			text-align: center;
			

		}
		#ContentTeam > div
		{
			position: absolute;
			top : 50%;
			left : 50%;
			transform : translate(-50%,-50%);
			color : white;
			font-size : 4em;
			font-weight:  bold ;
		}

		#ContentContact
		{
			position: relative;
			margin:  0;
			padding:  0;
			width: 100%;
			height: 100%;
			background-image: url('./img/contact2.jpg');
			background-size : 100%, 100%;
			background-repeat : no-repeat;
			text-align: center;
			

		}
		#ContentContact > div
		{
			position: absolute;
			top : 50%;
			left : 50%;
			transform : translate(-50%,-50%);
			color : white;
			font-size : 4em;
			font-weight:  bold ;
		}

		
	</style>
		jQuery(document).ready(function($) 
		{
			$(".scroll").click(function(event)
			{            
				event.preventDefault();
			
				$('html,body').animate({scrollTop:$(this.hash).offset().top}, 2000);
			
			});
			
		});
			
	<script>

	</script>
</head>

<body>
	<div id ="MenuBar">
		<div class="MenuLogo">
			<div class="btDiv"><a href="http://www.rovigos.com"><h1 style="font-size:2em;">ROVIGOS</h1></a></div>
		</div>
		<div  class="MenuList">
			<div class="btDiv"><a href="#ContentCompany">Company</a></div>
		</div>
		<div  class="MenuList">
			<div class="btDiv"><a href="#ContentBusiness">Business</a></div>
		</div>
		<div  class="MenuList">
			<div class="btDiv"><a href="#ContentTeam">Team</a></div>
		</div>
		<div  class="MenuList">
			<div class="btDiv"><a href="#ContentContact">Contact</a></div>
		</div>
	</div>
	<div id ="MainContent">
		<div class="ContentPlate"> 
			<div id = "ContentCompany">
				<div> 로보틱스 플랫폼 전문회사<br/>
				ROVIGOS</div>
			</div>
		</div>
		<div class="ContentPlate"> 
			<div id = "ContentBusiness">
				<div> 
					<div style="background: rgba(0, 0, 0, 1);min-width: 50%;min-height:50%;">
						<p style="color:white;font-size: 3em;">About Our Business</p>
						<div style = "background: rgba(97, 97, 97, 1);float: left;margin: 2vh;padding:1vh;min-width: 42%;min-height:70%;">
							<p style="font-size: 2em;color:white">
								1. 로봇틱스 5G 풀필먼트
							</p>
							<p style="color:white;font-size: 1em;margin-top: 1em;">
								로봇틱스 자동화 기반 풀필먼트 제공
							<br>
							</p>
						</div>
						<div style = "background: rgb(172, 192, 207);float: right;margin: 2vh;padding:1vh;min-width: 42%;min-height:70%;">
							<p style="font-size: 2em;">
								2. 물류 자동화 플랫폼
							</p>
							<p style="font-size: 1em;margin-top: 1em;">
								클라우드 기반 범용 물류 관리 솔루션 제공
							<br>
							</p>

						</div>
						
						
					</div>
				
				</div>
			</div>
		</div>
		
		<div class="ContentPlate"> 
			<div id = "ContentTeam">
				<div style="background: rgba(0, 0, 0, 0.603);min-width: 80%;min-height:50%;">
					<p style="color:white;font-size: 1em;">Our Team</p>
					<div style="display: inline;min-width : 50%;min-height: 50%;">
						<div style = "background: rgba(125, 125, 126, 0.582);float: left;min-width : 23%;height: 100%;margin:1vh;">
							<p>Team Leader</p>
							<img src="./img/human.png">
							<p>
							<br/>M Univ.
							<br/>H 
							<br/>
							<br/>CEO	
							</p>
							
						</div>
						<div style = "background: rgba(125, 125, 126, 0.582);float: left;min-width : 23%;min-height: 100%;margin:1vh;">
							<p>Team Member</p>
							<img src="./img/human.png">
							<p>
							<br/>I Univ.
							<br/>K
							<br/>
							<br/>IR	
							</p>
						</div>
						<div style = "background: rgba(125, 125, 126, 0.582);float: left;min-width : 23%;min-height: 100%;margin:1vh;">
							<p>Team Member</p>
							<img src="./img/human.png">
							<p>
							<br/>I Univ.
							<br/>H 
							<br/>
							<br/>Tech	
							</p>
						</div>
						<div style = "background: rgba(125, 125, 126, 0.582);float: left;min-width : 23%;min-height: 100%;margin:1vh;">
							<p>Team Member</p>
							<img src="./img/human.png">
							<p>
							<br/>A Univ.
							<br/>
							<br/>
							<br/>Sales	
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ContentPlate"> 
			<div id = "ContentContact">
				<div> Contact Us
				<br/>IR 투자 문의, 제품 문의
				</div>
			</div>
		</div>

	</div>
</body>
	
	
</HTML>